
@{
    ViewBag.Title = "Specials";
}

<img src="~/Content/Images/DecSpecial.jpg" />

<div class="homeheader">
    <h3>
        <strong>Special 1:</strong> Buy any Jewelry Set and recieve 10% off any additional earring purchases!
        <br />
        <strong>Special 2:</strong> Buy any 3 pairs of earrings and receive a 4th pair for free!
        <br />
        <strong>Special 3:</strong> Like us on Facebook and receive 15% off of your first order!

    </h3>
</div>
<br />
<br />
<br />
<img src="~/Content/Images/PDLogoSquare.jpg" />

