@{
    ViewBag.Title = "About";
}
<center>
    <div class="jumbotron">
        <h1>Papillon Designs</h1>
        <h2 class="homeheader">Unique jewelry for every occasion</h2>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
</center>
<img src="~/Content/Images/PDLongLogo.jpg" />
<h3>
    Papillon Designs is a local, family owned business. The company has been in official operation for about 12 
    years, but unofficially I have been making beautiful jewelry since my Aunt Sandy taught me at my grandma's 
    kitchen table when I was 10 years old. Creating unique pieces has become a wonderful hobby that provides me
    with hours of calm enjoyment. It's a wonderful thing when you can spend your free time creating pieces and 
    then turn around and watch as people display them with pride. A beautiful piece of jewelry should compliment
    your smile AND your outfit. 

</h3>




