@{
    ViewBag.Title = "Contact";
}
<center>
    <div class="jumbotron">
        <h1>Papillon Designs</h1>
        <h2 class="homeheader">Unique jewelry for every occasion</h2>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
</center>
<img src="~/Content/Images/PDLongLogo.jpg" />
<h2>We would love to hear from you!</h2>


<address>
    Address: 10th St East <br />
    St. Paul, MN 55101<br />
    <abbr title="Phone">Phone:</abbr>
    612-968-5086

</address>
<center>
    <div class="col-md-4">
        <h2> Find Us on Facebook</h2>
        <p>
            For information about upcoming events, or to see what we are working on daily please visit our
            Facebook page. You can keep up to date by liking our company!
        </p>
        <p><a class="btn btn-default" href="http://www.facebook.com/papillondesjewelry/">Connect To FB &raquo;</a></p>
    </div>
</center>
<br />
<br />
<br />
<br />
<br />
<br />




@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@